/* Avatar */
.avatar {
    width:250px;
    height:250px;
    border-radius:160px;
    border:10px solid #1a1a1a;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa-heart {
    color: red;
}
.flag-mex {
    background-image: url("img/mexico.svg");
    background-size: contain;
}
img {
    vertical-align: top!important;
} 
.countries-visited img {
    height:24px; 
    width:26px;
    border: 2px solid #1a1a1a;
    border-radius: 160px;
}
/* Contacto */
.contacto a {
    font-size: 2rem;
}
/* Skills */
.progress {
    width: 50px;
}

@media (min-width: 592px ) {
    #react, #redux, #firebase {
        display: block!important;
    }
}
@media (min-width: 768px ) {
    .card-main {
        width: 250px!important;
    }
    #react, #redux, #firebase {
        display: none!important;
    }
}
@media (min-width: 800px ) {
    #react, #redux, #firebase, #js {
        display: block!important;
    }
}
@media (min-width: 992px ) {
    #react, #redux, #firebase {
        display: block!important;
    }
    #js {
        display: none!important;
    }
}
@media (min-width: 1200px ) {
    #js {
        display: block!important;
    }
}
/* Pagina activa */
.activo{
    background-color: white!important;
    color: #1a1a1a!important;
}
/* Experience */
.titulo-experiencia{
    text-align: center;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 1.5rem;
}
.card-title, .card-text{
    text-align: center;
    color: #1a1a1a;
}
/** Accordion / Education **/
#educations .card-header {
    background-color: #1a1a1a;
    padding: 0 1.25rem;
}
#educations .card-header .btn-link {
    color: #ffffff;
    font-size: 1.6rem;
}
#educations .card-body {
    font-size: 1.3rem;
}
.awards, .online-courses {
    color: #1a1a1a;
}
@media (max-width: 376px ) {
    #educations h2 {
        font-size: 1.1rem!important;
    }
}
/* Footer */
footer {
    color: white!important;
    background-color: #1a1a1a;
    padding-bottom: 0;
    margin-bottom: 0;
}
footer div a {
    color: white!important;
}