/* Avatar */
.avatar {
    width:250px;
    height:250px;
    border-radius:160px;
    border:10px solid #1a1a1a;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa-heart {
    color: red;
}
.flag-mex {
    /* background: url("fallback.png") no-repeat center; */
    background-image: url("img/mexico.svg");
    background-size: contain;
}
img {
    vertical-align: top!important;
} 
.countries-visited img {
    height:24px; 
    width:26px;
}
/* Contacto */
.contacto a {
    font-size: 2rem;
}
/* Skills */
.progress {
    width: 50px;
}
@media (min-width: 769px ) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    #js {
        display: block!important;
    }
}
@media (min-width: 992px ) {
    #js {
        display: none!important;
    }
}
@media (min-width: 1200px ) {
    #js {
        display: block!important;
    }
}
/* Pagina activa */
.activo{
    background-color: white!important;
    color: #1a1a1a!important;
}
/* Experience */
.titulo-experiencia{
    text-align: center;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 1.5rem;
}
.card-title, .card-text{
    text-align: center;
    color: #1a1a1a;
}
/* Footer */
footer {
    color: white!important;
    background-color: #1a1a1a;
    padding-bottom: 0;
    margin-bottom: 0;
}
footer div a {
    color: white!important;
}